@use "bulma/sass" with (
    $family-primary: 'charter, serif',
);

@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('/fonts/charter_regular.woff2') format('woff2');
}

@font-face {
  font-family: charter;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url('/fonts/charter_italic.woff2') format('woff2');
}

@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url('/fonts/charter_bold.woff2') format('woff2');
}

@font-face {
  font-family: charter;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  src: url('/fonts/charter_bold_italic.woff2') format('woff2');
}

@font-face {
  font-family: source_code_pro;
  font-style: regular;
  font-weight: normal;
  src: url('/fonts/SourceCodePro-Regular.otf.woff2') format('woff2');
}

html {
  font-size: 2.0vw;
}
/** Make sure that while font size scales smoothly, it never gets
 * too big or small.
 */
@media all and (min-width:1216px) { html { font-size: 22px; } }
@media all and (max-width:768px) { html{ font-size: 18px; } }

#codemirror { border-color: var(--bulma-input-border-color); border-radius: var(--bulma-input-radius); border-style: solid; border-width: var(--bulma-control-border-width); overflow: clip; }
#codemirror:focus-within {  border-color: hsl(var(--bulma-input-focus-h),var(--bulma-input-focus-s),var(--bulma-input-focus-l)); box-shadow: var(--bulma-input-focus-shadow-size) hsla(var(--bulma-input-focus-h),var(--bulma-input-focus-s),var(--bulma-input-focus-l),var(--bulma-input-focus-shadow-alpha)); }
.cm-editor {
    height: 100%;
    min-height: 15rem;
}
.cm-editor.cm-focused { outline: 0px; }
.cm-editor > .cm-scroller {
    overflow: auto;
    font-family: source_code_pro, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.cm-editor > .cm-gutters {
    border-radius: var(--bulma-input-radius);
}
#navbar { border-bottom: 1px solid var(--bulma-primary); }
@keyframes fade-in { 
  0% { opacity: 0; }
  100% { opacity: 100; }
}
.fade-in { animation: 0.5s ease-in fade-in; }
.fade-out { opacity: 0; transition: opacity 1s ease-out; }
@keyframes shake { 
  0% { transform: translateX(2vw); }
  33% { transform: translateX(0); }
  66% { transform: translateX(-2vw); }
  100% { transform: translateX(0); }
}
.shake { animation: 0.1s ease-in-out 0.5s 5 shake; }
.hide { opacity: 0; }
.button {
    --bulma-button-outer-shadow-a: 0.05 !important;
}
